<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.lzs.club"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="net.lzs.club.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/clubicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.lzs.club.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            >
        </activity>

        <activity android:name=".activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.LikedActivityContentActivity"/>
        <activity android:name=".activity.LikedClubIntroductionActivity"/>
        <activity android:name=".activity.MyActivityContentActivity"/>
        <activity android:name=".activity.MyClubIntroductionActivity"/>
        <activity android:name=".activity.CreateClubActivity"/>
        <activity android:name=".activity.TypedClubsActivity"/>
        <activity android:name=".activity.CreateActivityActivity"/>
        <activity android:name=".activity.MyClubsActivity"/>
        <activity android:name=".activity.MyLikedClubsActivity"/>
        <activity android:name=".activity.MyActivitiesActivity"/>
        <activity android:name=".activity.MyLikedActivitiesActivity"/>

    </application>

</manifest>
